
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic');
body {
	background-image: url(images/bg.jpg);
	background-position: center;
}

.text {
	font-family: 'Russo One', sans-serif; 
	font-size: 100%;
	border: 1px solid green;
	background-color: white;
	opacity: 0.5;
}


.centerimg {
	display: block;
	margin: 0 auto;
}

