body {
	background-image: url(images/bg.jpg);
	background-position: center;
}

.text {
	font-family: sans-serif;
	border: 1px solid green;
	background-color: white;
	opacity: 0.5;
}


.centerimg {
	display: block;
	margin: 0 auto;
}
}